<div class="container-fluid">
  <h1>Formulario de Envíos Internacional</h1>
  <form [formGroup]="formularioCliente" class="mt-5">
  <div class="row mt-3">
    <div class="col-4">
      <div class="input-group">
        <span class="input-group-text">Fecha*:</span>
        <input type="text" formControlName="fecha" class="form-control" name="fecha">
      </div>
      <p *ngIf="this.formularioCliente.get('fecha')?.errors?.['required']">
        La fecha es obligatoria.
    </p>
    <p *ngIf="this.formularioCliente.get('fecha')?.errors?.['pattern']">
        La fecha debe estar en formato dd-mm-yyyy.
    </p>
    <p *ngIf="this.formularioCliente.get('fecha')?.errors?.['fecha']">
        La fecha debe ser valida e igual o mayor a la fecha actual.
    </p>
    </div>

    <div class="col-4">
      <div class="input-group">
        <span class="input-group-text">Empresa*:</span>
        <input type="text" formControlName="empresa" class="form-control" name="empresa">
      </div>
      <p *ngIf="this.formularioCliente.get('empresa')?.errors?.['required']">
        La empresa es obligatoria.
    </p>
    <p *ngIf="this.formularioCliente.get('empresa')?.errors?.['minlength']">
        La empresa debe tener minimo 2 caracteres.
    </p>
    <p *ngIf="this.formularioCliente.get('empresa')?.errors?.['maxlength']">
       La empresa debe tener maximo 100 caracteres.
    </p>
    </div>

    <div class="col-4">
      <div class="input-group">
        <span class="input-group-text">Email*:</span>
        <input type="text" formControlName="email" class="form-control" name="email">
      </div>
      <p *ngIf="this.formularioCliente.get('email')?.errors?.['required']">
        El email es obligatorio.
     </p>
     <p *ngIf="this.formularioCliente.get('email')?.errors?.['email']">
        El email debe ser valido.
   </p>
    </div>
  </div>


  <div class="row mt-3">
    <div class="col-5">
      <div class="input-group">
        <span class="input-group-text">Instagram*:</span>
        <input type="text" formControlName="instagram" class="form-control" name="instagram">
      </div>
      <p *ngIf="this.formularioCliente.get('instagram')?.errors?.['required']">
        El instagram es obligatorio.
     </p>
     <p *ngIf="this.formularioCliente.get('instagram')?.errors?.['pattern']">
        El instagram debe ser valido.
    </p>
    </div>

    <div class="col-1">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="cliente" formControlName="cliente">
        <label class="form-check-label" for="checkbox1">
          Cliente
        </label>
      </div>
    </div>

    <div class="col-3" >
        <div class="form-group " >
          <select class="form-control  text-center" formControlName="origen">
            <option value="-">Seleccione origen</option>
            <option value="prensa">prensa</option>
            <option value="redes">redes</option>
            <option value="amigos">amigos</option>
          </select>
        </div>
        <p *ngIf="this.formularioCliente.get('origen')?.errors?.['origen']">
          Debe seleccionar el origen.
      </p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-1">
      <div class="form-check">
        <input  class="form-check-input" type="radio" formControlName="pais" value="nacional">
        <label class="form-check-label">
          Nacional
        </label>
      </div>
    </div>
    <div class="col-1"> 
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="pais"  value="extranjero">
        <label class="form-check-label">
          Extranjero
        </label>
      </div>
    </div>
    <div class="col-5" [hidden]="formularioCliente.get('pais')?.value == 'nacional'">
      <div class="input-group">
        <span class="input-group-text">Pais:</span>
        <input type="text" formControlName="nombrePais" class="form-control">
      </div>
      <p *ngIf="this.formularioCliente.get('nombrePais')?.errors?.['pais']">
        El pais es obligatorio y debe tener 2 caracteres minimos y 50 caracteres maximos.
     </p>
    </div>
  </div>
</form>

<h2 class="mt-5">ENVIOS</h2>
<form [formGroup]="formularioProducto">
<div class="row mt-5">
  <div class="col-2 ">
    <div class="form-group ">
      <select class="form-control text-center" formControlName="destino"  (change)="calcularPrecio()">
        <option value="España">España</option>
        <option value="Europa">Europa</option>
        <option value="America">America</option>
      </select>
    </div>
  </div>
  <div  class="col-2">
    <div class="input-group">
      <span class="input-group-text">Peso</span>
      <input type="text" formControlName="peso" class="form-control" name="peso" (keypress)="calcularPrecio()" (keydown)="calcularPrecio()" (keyup)="calcularPrecio()"> 
    </div>
    <p *ngIf="this.formularioProducto.get('peso')?.errors?.['required']">
      El precio es obligatorio.
    </p>
    <p *ngIf="this.formularioProducto.get('peso')?.errors?.['min']">
      El precio debe ser mayor a 0.
    </p>
    <p *ngIf="this.formularioProducto.get('peso')?.errors?.['max']">
      El precio debe ser menor a 3.
    </p>
    <p *ngIf="this.formularioProducto.get('peso')?.errors?.['pattern']">
      El precio debe estar en formato N.NN
    </p>
  </div>

  <div  class="col-2">
    <div class="form-group ">
      <select class="form-control text-center" formControlName="envio" (change)="calcularPrecio()">
        <option value="-">-</option>
        <option value="Certificado">CERTIFICADO</option>
        <option value="Paquete">PAQUETE</option>
      </select>
    </div>
    <p *ngIf="this.formularioProducto.get('envio')?.errors?.['pattern']">
      Seleccione tipo de envio.
    </p>
  </div>

  <div  class="col-2">
    <div class="input-group">
      <span class="input-group-text">Precio</span>
      <input type="text" readonly [value]="precio" class="form-control">
    </div>
  </div>

  <div  class="col-2">
    <button type="button" class="btn btn-primary w-75" (click)="agregarProducto()">Añadir</button>
  </div>
</div>
</form>

<table class="table table-bordered text-center mt-5" >
  <thead>
    <tr>
      <th>Destino</th>
      <th>Peso</th>
      <th>Tipo de Envío</th>
      <th>Precio</th>
      <th>Borrar</th>
    </tr>
  </thead>
  <tbody *ngFor="let linea of lineas">
    <tr>
      <td>{{linea.destino}}</td>
      <td>{{linea.peso}}</td>
      <td>{{linea.envio}}</td>
      <td>{{linea.precio}}</td>
      <td><button type="button" class="btn btn-danger" (click)="borrarProducto(linea.numero)">borrar</button> </td>
    </tr>
  </tbody>
</table>

<div class="row" style="margin-top: 125px;">
  <div class="col-2">
    <div class="input-group">
      <span class="input-group-text">Total Envíos</span>
      <input type="text" readonly [value]="totalEnvios" class="form-control">
    </div>
  </div>

  <div class="col-2">
    <div class="input-group">
      <span class="input-group-text">Total Peso</span>
      <input type="text" readonly [value]="totalPeso" class="form-control">
    </div>
  </div>

  <div class="col-2">
    <div class="input-group">
      <span class="input-group-text">Total Importe España</span>
      <input type="text" readonly [value]="totalImporteEspana" class="form-control">
    </div>
  </div>

  <div class="col-2">
    <div class="input-group">
      <span class="input-group-text">Total Importe Europa</span>
      <input type="text" readonly [value]="totalImporteEuropa" class="form-control">
    </div>
  </div>

  <div class="col-2">
    <div class="input-group">
      <span class="input-group-text">Total Importe America</span>
      <input type="text" readonly [value]="totalImporeteAmerica" class="form-control">
    </div>
  </div>
</div>
<div class="col-3 mt-5">
  <div class="input-group">
    <span class="input-group-text">Importe Total</span>
    <input type="text" readonly [value]="importeTotal" class="form-control">
  </div>
</div>
<br>
<button type="button" class="btn btn-success" (click)="enviarDatos()">Enviar</button>
</div>